body {
    background-color: #1B262C;
}

h1 {
    text-align: center;
    color: #BBE1FA;
}

.totals-wrapper {
    border: 1px solid #BBE1FA;
    border-radius: 5px;
    width: 70%;
    margin: 0 auto;
    height: 300px;
    background-color: #0F4C75;
}
.money-totals {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}
.totals-border {
    border: 1px solid #1B262C;
    border-radius: 5px;
    padding: 15px;
    background-color: #3282B8;
    color: #BBE1FA;
    font-weight: 400;
}
.total-val {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.input-divs {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}
.input-borders {
    padding: 20px;
    margin-top: 50px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #0F4C75;
    color: #BBE1FA;
}
button {
    background-color: #3282B8;
    border-radius: 5px;
    padding: 5px 10px;
    position: relative;
    border: none;
}
button:hover {
    top: 2px;
    left: 1px;
}
button:active {
    top: 4px;
    left: 2px;
    border: none;
}

