body {
  background-color: #1b262c;
}

h1,
h2 {
  text-align: center;
  color: #bbe1fa;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.header {
  border-bottom: 1px solid black;
}

.back,
.next {
  width: 5rem;
}

.expenseh,
.incomeh {
  font-size: 2rem;
}

.totals-wrapper {
  border: 1px solid #bbe1fa;
  border-radius: 5px;
  width: 70%;
  margin: 0 auto;
  height: 300px;
  background-color: #0f4c75;
}
.money-totals {
  display: flex;
  justify-content: space-around;
  margin-top: 1%;
}
.totals-border {
  border: 1px solid #1b262c;
  border-radius: 5px;
  padding: 15px;
  background-color: #3282b8;
  color: #bbe1fa;
  font-weight: 400;
}
.total-val {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.input-divs {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
.input-borders {
  padding: 5px 10px;
  margin-top: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #0f4c75;
  color: #bbe1fa;
}
button {
  background-color: #3282b8;
  border-radius: 5px;
  padding: 5px 10px;
  position: relative;
  border: none;
}
button:hover {
  top: 2px;
  left: 1px;
}
button:active {
  top: 4px;
  left: 2px;
  border: none;
}
.expense-div,
.income-div {
  width: 45%;
}
.expense-output-wrapper,
.income-output-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
}
.expense-items,
.income-items {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 1rem;
}

.delete-income,
.delete-btn {
  height: 80%;
}

.headers {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 1670px) {
  .input-divs {
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) {
  .expense-form,
  .input-form {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .expense-form button,
  .input-form button {
    width: 5rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .input-divs {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .expense-div,
  .income-div {
    width: 70%;
  }
}

@media only screen and (max-width: 500px) {
  .money-totals {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .expense-div,
  .income-div {
    width: 90%;
  }

  .totals-wrapper {
    height: 400px;
  }
  .next,
  .back {
    margin-top: 2rem;
    height: 4rem;
  }
}

@media only screen and (max-width: 380px) {
  .month-and-year {
    font-size: 1.5rem;
  }
  input[type="text"],
  input[type="number"] {
    width: 80%;
    margin-bottom: 1rem;
  }
  .expense-output-wrapper,
  .income-output-wrapper {
    width: 100%;
  }
  .input-divs {
    width: 100%;
  }
}
